.app-navigation {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: var(--nav-height);
  padding: 0 1rem;

  top: 0;
  z-index: 1000;
  background-color: #f8f9fa;
}
.app-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #343a40;
}
.app-navigation-links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.app-navigation-link:hover {
  text-decoration: underline;
}

.current-page {
  font-weight: bold;
  text-decoration: underline;
}
